<div class="container">
  <!--  <img src="./images/exadel-logo.png" alt="exadel-logo">-->
  <img
    src="https://cdn.discordapp.com/attachments/897100053737537568/900018121186877530/OZWPKfADiJJpd3vvyrKXJze8-pFp7ORsrqApni9gAhLseMe7H19MtYuMDoMS8fbiqUQE2cteO7BFMg4ixfeBVOLfMHn-iSrfULIx.png"
    alt="exadel-logo">

  <div class="nav">

    <ul>
      <li>
        <a [routerLink]="'/dashboard'">Candidates</a>
      </li>
      <li>
        <a [routerLink]="['/planning']">Planning</a>
      </li>
      <li>
        <a [routerLink]="['/educational_programs']">Educational programs</a>
      </li>
      <li>
        <a [routerLink]="['/letters']">Letters</a>
      </li>
      <li>
        <a [routerLink]="['/report']">Report</a>
      </li>
    </ul>

  </div>
  <div class="profile">
    <span><i class="fas fa-user-circle"></i></span>
    <span>Aliaksei Hausiuk</span>
    <button>Log Out</button>
  </div>
</div>
