<div class="container">
  <img src="./assets/images/exadel-logo.png" alt="exadel-logo" />

  <div class="nav">
    <ul>
      <li>
        <a [routerLink]="'/dashboard'">Candidates</a>
      </li>
      <li>
        <a [routerLink]="['/planning']">Planning</a>
      </li>
      <li>
        <a [routerLink]="['/educational-programs']">Educational programs</a>
      </li>
      <li>
        <a [routerLink]="['/letters']">Letters</a>
      </li>
      <li>
        <a [routerLink]="['/report']">Report</a>
      </li>
    </ul>
  </div>
  <div class="profile">
    <span><i class="fas fa-user-circle"></i></span>
    <span>Aliaksei Hausiuk</span>
    <button mat-raised-button (click)="openDialog()">Log Out</button>
  </div>
</div>
