<h1 mat-dialog-title>Update Candidate Information</h1>
<div mat-dialog-content (keyup)="checkValues()">
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.firstname" required />
    <mat-error *ngIf="!data.firstname.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastname" required />
    <mat-error *ngIf="!data.lastname.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" required />
    <mat-error *ngIf="!data.email.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Skype</mat-label>
    <input matInput [(ngModel)]="data.skype" required />
    <mat-error *ngIf="!data.skype.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone_number" required />
    <mat-error *ngIf="!data.phone_number.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select [(ngModel)]="data.country" (selectionChange)="checkValues()">
      <mat-option *ngFor="let ct of country" [value]="ct">{{ct}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="data.city" required />
    <mat-error *ngIf="!data.city.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>English Level</mat-label>
    <mat-select [(ngModel)]="data.english_level" (selectionChange)="checkValues()">
      <mat-option *ngFor="let en of englishLevel" [value]="en">{{en}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="data.status" (selectionChange)="checkValues()">
      <mat-option *ngFor="let st of status" [value]="st">{{st}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [disabled]="disableUpdate" [mat-dialog-close]="data" cdkFocusInitial>Update</button>
  <button mat-stroked-button mat-dialog-close="cancel">Cancel</button>
</div>
