.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;

  #excel-table {
    display: none;
  }
}
table,
mat-form-field,
mat-option {
  font-family: 'Poppins', sans-serif !important;
}
