$primary: #0082ca;

.activeLink {
  border-bottom: 2px solid $primary;
  padding-bottom: 1rem;
  color: $primary !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;

  img {
    width: 85px;
    aspect-ratio: 1/1;
    cursor: pointer;
  }

  ul {
    display: flex;
    gap: 70px;
    list-style: none;
    align-items: center;

    li {
      font-size: 1.8rem;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .profile {
    display: flex;
    gap: 20px;
    align-items: center;

    .profile__name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
    }

    button {
      background-color: #fff;
      // box-shadow: 0 0 2px 2px $primary;
      border: 1px solid $primary;
      border-radius: 3px;
      cursor: pointer;
      padding: 0px 15px;
      font-size: 1.4rem;
      margin-left: 10px;
      box-shadow: none;

      &:hover {
        box-shadow: 0 0 1px 0px $primary;
      }
    }

    span {
      font-size: 1.4rem;

      i {
        font-size: 3rem;
        color: $primary;
      }
    }
  }
}
