<div class="container">
  <img class="logo" src="../../../../assets/imgs/logo.svg" alt="exadel-logo" />

  <div class="nav">
    <ul>
      <li>
        <a [routerLink]="['./candidates']" routerLinkActive="activeLink">Candidates</a>
      </li>
      <li *ngIf="showPlanning">
        <a [routerLink]="['./planning']" routerLinkActive="activeLink">Planning</a>
      </li>
      <li *ngIf="showEducationalPrograms">
        <a [routerLink]="['./educational-programs']" routerLinkActive="activeLink">Educational programs</a>
      </li>
      <li *ngIf="showLetters">
        <a [routerLink]="['./letters']" routerLinkActive="activeLink">Letters</a>
      </li>
      <li *ngIf="showReport">
        <a [routerLink]="['./report']" routerLinkActive="activeLink">Report</a>
      </li>
    </ul>
  </div>
  <div class="profile">
    <div class="profile__name">
      <span><i class="fas fa-user-circle"></i></span>
      <span>{{user}}</span>
    </div>
    <button mat-raised-button (click)="logOut()">Log Out</button>
  </div>
</div>
