h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.search-group {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
mat-label, mat-select, button{
  font-family: 'Poppins', sans-serif;
}