<h2>Searching Candidate</h2>
<form [formGroup]="searchForm" (ngSubmit)="clickSearch()">
  <div class="flex">
    <div class="search-group">
      <mat-form-field appearance="fill">
        <mat-label>Educational Programs</mat-label>
        <mat-select formControlName="searchEduProgram">
          <mat-option *ngFor="let program of programs" [value]="program">{{program}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-group">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="searchStatus">
          <mat-option *ngFor="let st of status" [value]="st">{{st}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-group">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="add text" formControlName="searchName" />
      </mat-form-field>
    </div>

    <div class="search-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="add text" formControlName="searchEmail" />
      </mat-form-field>
    </div>
    <div class="search-group">
      <button mat-stroked-button type="submit">Search</button>
    </div>
  </div>
</form>
