@import '../../../../styles/global-styles/global-variables.scss';

.educational-programs {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table {
    margin-top: 50px;
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    padding-bottom: 1.5rem;
    color: $primary;
  }
}
