$primary: #0082ca;

.educational-programs {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table {
    margin-top: 50px;
  }
}

table {
  width: 100%;
}

th.mat-header-cell {
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: none;
}

td.mat-cell {
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    padding-bottom: 1.5rem;
    color: $primary;
  }
}
