<h1 mat-dialog-title *ngIf="showFields">Update Candidate Information</h1>
<h1 mat-dialog-title *ngIf="!showFields">Update Candidate Status</h1>
<div mat-dialog-content (keyup)="checkValues()" (click)="checkValues()">
  <div *ngIf="showFields">
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label>First Name</mat-label>
      <input matInput [(ngModel)]="data.candidate.firstname" required />
      <mat-error *ngIf="!data.candidate.firstname.length">This field can’t be empty</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label>Last Name</mat-label>
      <input matInput [(ngModel)]="data.candidate.lastname" required />
      <mat-error *ngIf="!data.candidate.lastname.length">This field can’t be empty</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.candidate.email" required />
      <mat-error *ngIf="!data.candidate.email.length">This field can’t be empty</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label>Skype</mat-label>
      <input matInput [(ngModel)]="data.candidate.contactSkype" required />
      <mat-error *ngIf="!data.candidate.contactSkype.length">This field can’t be empty</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label>Phone</mat-label>
      <input matInput [(ngModel)]="data.candidate.contactPhone" required />
      <mat-error *ngIf="!data.candidate.contactPhone.length">This field can’t be empty</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>English Level</mat-label>
      <mat-select [(ngModel)]="data.candidate.englishLevel" (selectionChange)="checkValues()">
        <mat-option *ngFor="let level of englishLevel" [value]="level">{{level}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select [(ngModel)]="data.candidate.country" (selectionChange)="checkValues()">
        <mat-option *ngFor="let countryName of country" [value]="countryName">{{countryName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" hideRequiredMarker="true">
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="data.candidate.city" required />
      <mat-error *ngIf="!data.candidate.city.length">This field can’t be empty</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field [class.all-width]="!showFields" *ngIf="showStatus" appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="data.candidate.statusMark" (selectionChange)="checkValues()">
      <mat-option *ngFor="let status of statuses, let i =index" [value]="i+1">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [disabled]="disableUpdate" [mat-dialog-close]="data" cdkFocusInitial>Update</button>
  <button mat-stroked-button mat-dialog-close="cancel">Cancel</button>
</div>
