.mat-form-field {
  width: 48%;
  margin: 3px;
}
.mat-dialog-content {
  max-height: 100%;
}
.all-width {
  width: 96%;
}
h1, mat-form-field, mat-select, button{
  font-family: 'Poppins', sans-serif;

}
