<h1 mat-dialog-title>Update Candidate Information</h1>
<div mat-dialog-content (keyup)="checkValues()" (click)="checkValues()">
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="data.firstname" required />
    <mat-error *ngIf="!data.firstname.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="data.lastname" required />
    <mat-error *ngIf="!data.lastname.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" required />
    <mat-error *ngIf="!data.email.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Skype</mat-label>
    <input matInput [(ngModel)]="data.contactSkype" required />
    <mat-error *ngIf="!data.contactSkype.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.contactPhone" required />
    <mat-error *ngIf="!data.contactPhone.length">This field can’t be empty</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>English Level</mat-label>
    <mat-select [(ngModel)]="data.englishLevel" (selectionChange)="checkValues()">
      <mat-option *ngFor="let level of englishLevel" [value]="level">{{level}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select [(ngModel)]="data.country" (selectionChange)="checkValues()">
      <mat-option *ngFor="let countryName of country" [value]="countryName">{{countryName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" hideRequiredMarker="true">
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="data.city" required />
    <mat-error *ngIf="!data.city.length">This field can’t be empty</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="data.statusMark" (selectionChange)="checkValues()">
      <mat-option *ngFor="let status of statuses, let i =index" [value]="i+1">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" [disabled]="disableUpdate" [mat-dialog-close]="data" cdkFocusInitial>Update</button>
  <button mat-stroked-button mat-dialog-close="cancel">Cancel</button>
</div>
