<div class="feedback">
  <h1>{{name}}'s feedback</h1>

  <div class="card" *ngIf="RecruiterName">
    <h2>From {{RecruiterName}}</h2>
    <h2>Soft skill: <span>{{MarkFromRecruiter}}</span></h2>
    <h2>Feedback:</h2>
    <p>{{feedbackFromRecruiter}}</p>
    <hr>
  </div>

  <div class="card" *ngIf="InterviewerBeforeSandbox">
    <h2>From {{InterviewerBeforeSandbox}}</h2>
    <h2>Hard skill: <span>{{MarkFromInterviewerBeforeSandbox}}</span></h2>
    <h2>Feedback:</h2>
    <p>{{feedbackFromInterViewerBeforeSandbox}}</p>
    <hr>
  </div>


  <div class="card" *ngIf="MentorName">
    <h2>From {{MentorName}} after Sandbox</h2>
    <h2>Mark: {{MarkFromMentor}}</h2>
    <h2>Feedback:</h2>
    <p >{{feedbackFromMentor}}</p>
    <hr>
  </div>



  <div class="card" *ngIf="InterviewerAfterSandbox">
    <h2>From {{InterviewerAfterSandbox}} after Sandbox</h2>
    <h2>Mark: {{MarkFromInterviewerAfterSandbox}}</h2>
    <h2>Feedback:</h2>
    <p>{{feedbackFromInterViewerAfterSandbox}}</p>
  </div>

  <button (click)="back()">Back to candidate's page</button>
</div>
