<div class="feedback">
  <h1>Aliaksandr katzuba's feedback</h1>

  <div class="flex-col">
    <h2>From Recruiter Alesya Titova</h2>
    <div class="content">
      <div>
        <h2>Soft skill</h2>
        <p>4</p>
      </div>
      <div class="flex">
        <h2>Feedback</h2>
        <p *ngFor="let feedback of feedback$ | async">{{feedback}}</p>
      </div>
    </div>
  </div>

  <div class="flex-col">
    <h2>From Interviewer Sergey Kaminski</h2>
    <div class="content">
      <div>
        <h2>Hard skill</h2>
        <p>3</p>
      </div>
      <div class="flex">
        <h2>Feedback</h2>
        <p *ngFor="let feedback of feedback$ | async">{{feedback}}</p>
      </div>
    </div>
  </div>

  <div class="flex-col">
    <h2>From Mentor Michail Khmyl after Sandbox</h2>
    <div class="content">
      <div>
        <h2>Mark</h2>
        <p>4</p>
      </div>
      <div class="flex">
        <h2>Feedback</h2>
        <p *ngFor="let feedback of feedback$ | async">{{feedback}}</p>
      </div>
    </div>
  </div>

  <div class="flex-col">
    <h2>From Interviewer Nadya Mishina after Sandbox</h2>
    <div class="content">
      <div>
        <h2>Mark</h2>
        <p>7</p>
      </div>
      <div class="flex">
        <h2>Feedback</h2>
        <p *ngFor="let feedback of feedback$ | async">{{feedback}}</p>
      </div>
    </div>
  </div>

  <button (click)="back()">Back to candidate's page</button>
</div>
