@import '../../../../styles/global-styles/global-variables.scss';

.letters {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }

  &__table {
    margin-top: 50px;
  }

  .blur {
    opacity: 0.5;

    a:hover {
      color: #000;
    }
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $primary;
  }
}
