$primary: #0082ca;

.letters {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }

  &__table {
    margin-top: 50px;
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $primary;
  }
}
