@import '../../../../styles/global-styles/global-variables.scss';

.letters {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }

  &__table {
    margin-top: 50px;
  }

  .blur {
    opacity: 0.5;

    a:hover {
      color: #000;
    }
  }

  table {
    ::ng-deep .mat-form-field-underline {
      display: none;
    }


    ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
      opacity: 0.54 !important;
      transform: translateY(0px) !important;
    }

    th {

      mat-form-field {
        position: relative;
        width: 100px;

        .fixTemplate {
          padding-left: 30px;
        }

        span {
          position: absolute;
          cursor: pointer;

        }

        mat-label {
          font-weight: bold;
          color: #000;
          font-family: 'Poppins', sans-serif;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $primary;
  }
}
