@import '../../../../styles/global-styles/global-variables.scss';

.educational-programs {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__create {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table {
    margin-top: 50px;

    ::ng-deep .mat-form-field-underline {
      display: none;
    }

    th {
      mat-form-field {
        width: 120px;

        mat-label {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
}


a {
  text-decoration: none;
  color: black;

  &:hover {
    color: $primary;
  }
}
