<div class="educational-programs">
  <div class="educational-programs__create">
    <button mat-stroked-button color="primary" [routerLink]="['../create-educational-program']">Create educational program</button>
  </div>
  <div class="educational-programs__table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Acceptance From Column -->
      <ng-container matColumnDef="applicationAcceptancePeriod">
        <th mat-header-cell *matHeaderCellDef>Application acceptance period</th>
        <td mat-cell *matCellDef="let element">{{element.acceptanceFrom}} - {{element.acceptanceTo}}</td>
      </ng-container>

      <!-- Program From Column -->
      <ng-container matColumnDef="educationalProgramsPeriod">
        <th mat-header-cell *matHeaderCellDef>Educational program's period</th>
        <td mat-cell *matCellDef="let element">{{element.programFrom}} - {{element.programTo}}</td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
