$primary: #0082ca;
.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center ; 
    align-items: center;
    mat-card {
        display: flex;
        flex-direction: column;
    }
    .login-btn{
        width: 100%;
    }
    .back-btn{
        width: 100%;
        margin-top: 5%;
        color: #fff;
        background-color: $primary;
    }
}
form{
    width: 25%;
}