<div class="form">
    <form >
        <mat-card>
                <p>
                    <mat-toolbar>
                      <span>Log in</span>
                    </mat-toolbar>
                </p>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Email">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password">
                </mat-form-field>
                <button mat-raised-button type="submit">Log in</button> 
        </mat-card>
    </form>    
</div>
 
