.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center ; 
    align-items: center;
    mat-card {
        display: flex;
        flex-direction: column;
    }
    .login-btn{
        width: 100%;
    }
}
form{
    width: 25%;
}