$md-exadel-palette: (
  50: #e0f0f9,
  100: #b3daef,
  200: #80c1e5,
  300: #4da8da,
  400: #2695d2,
  500: #0082ca,
  600: #007ac5,
  700: #006fbd,
  800: #0065b7,
  900: #0052ab,
  A100: #d4e6ff,
  A200: #a1c8ff,
  A400: #6eaaff,
  A700: #559bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
