input,
textarea {
  font-size: 1.9rem;
}
::placeholder {
  color: #454545;
  opacity: 0.8;
}
.nameError {
  font-size: 1.5rem;
  width: 120%;
  font-weight: bold;
}
.crLetter__innerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    padding: 10px 20px 10px 20px;
    font-size: 2rem;
    margin-left: 130px;
    margin-bottom: 20px;

  }
  h1 {
    font-weight: 500;
    font-size: 2.7rem;
  }
  .crtLetter__status {
    min-width: 500px;
    padding-left: 50px;
    margin-bottom: 20px;
    strong {
      margin-right: 70px;
      font-size: 2rem;
    }
    mat-form-field {
      min-width: 300px;
    }
  }
  .crtLetter__template {
    min-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    padding: 40px 0px 10px 0px;
    margin-bottom: 40px;

    .crtLetter-flex {
      width: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;

      .crtLetter__signature {
        width: 340px;
        textarea {
          height: 120px;
        }
      }
      strong {
        font-size: 2rem;
        min-width: 280px;
        margin-right: 110px;
        margin-top: 20px;
      }
      .left-elem-one {
        max-width: 100px;
      }
      .left-elem-two {
        text-align: right;
      }
      .crtLetter-sending {
        min-width: 250px;
        mat-option {
          min-width: 200px;
        }
      }
      .crtLetter-from {
        min-width: 270px;
      }
      .crtLetter-subject {
        min-width: 360px;
      }
      .crtLetter-textlet {
        min-width: 340px;
        textarea {
          height: 160px;
        }
      }
      .btnUpdate {
        display: flex;
      }
    }
  }
}
