.create-letters-temp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  &__status {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__from {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__from {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subject {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__signature {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field {
    width: 300px;
  }

  &__text,
  &__signature {
    mat-form-field {
      width: 500px;
    }
  }
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

h2,
mat-form-field,
button {
  font-family: 'Poppins', sans-serif;
}
