<div class="form">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <mat-card class="form-body">
                <p>
                    <mat-toolbar>
                      <span>Log in</span>
                    </mat-toolbar>
                </p>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput  required name="email" formControlName="email" placeholder="Email" >
                    <mat-error *ngIf="logInForm.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  name="password" formControlName="password"  required placeholder="Password">  
                    <mat-error   *ngIf="logInForm.controls['password'].invalid">{{getErrorMesPas()}}</mat-error>
                  
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                </mat-form-field>
            
                <button class="login-btn" mat-raised-button type="submit" [disabled]="!logInForm.controls['password'].valid || !logInForm.controls['email'].valid">Log in</button>
                <mat-error *ngIf="!result">{{getLoginRejected()}}</mat-error>
                <button [routerLink]="''" class="back-btn" mat-raised-button type="menu">Back to registration page</button>
        </mat-card>
    </form>   
</div>