.send-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;

  &__template {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__from {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number-of-positions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__position {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field {
    width: 300px;
  }

  &__text {
  }

  &__signature {
  }
}

.textarea {
  mat-form-field {
    width: 500px;
  }
}
