<app-top-bar></app-top-bar>
<form class="send-letter" [formGroup]="letterForm" (ngSubmit)="onSubmit()">
  <h1>Send letter</h1>
  <div class="send-letter__template">
    <mat-form-field appearance="outline">
      <mat-label>Template</mat-label>
      <mat-select>
        <mat-option *ngFor="let template of Templates" [value]="template">{{template}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="send-letter__from">
    <mat-form-field appearance="outline">
      <mat-label>From</mat-label>
      <input matInput type="email" formControlName="sendFrom" />
    </mat-form-field>
  </div>

  <app-search-candidates (searchEvent)="getSearchedCandidatesEmails($event)"></app-search-candidates>

  <div class="send-letter__to">
    <mat-form-field appearance="outline">
      <mat-label>Send email to</mat-label>
      <input matInput formControlName="sendTo" />
      <mat-error *ngIf="letterForm.controls['sendTo'].hasError('invalidEmail') && (letterForm.controls['sendTo'].dirty)">
        Email is invalid: {{letterForm.get('sendTo')?.getError('invalidEmail')}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="send-letter__subject">
    <mat-form-field appearance="outline">
      <mat-label>Subject</mat-label>
      <input matInput #input maxlength="100" formControlName="Subject" />
      <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
  </div>

  <div class="send-letter__text textarea">
    <mat-form-field>
      <mat-label>Text of the letter</mat-label>
      <textarea matInput rows="10" maxlength="1500" formControlName="Text"></textarea>
      <mat-hint align="end">{{letterForm.controls.Text.value?.length || 0}}/1500</mat-hint>
    </mat-form-field>
  </div>

  <div class="send-letter__signature textarea">
    <mat-form-field>
      <mat-label>Signature</mat-label>
      <textarea matInput rows="10" maxlength="100" formControlName="Signature"></textarea>
      <mat-hint align="end">{{letterForm.controls.Signature.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
  </div>

  <button mat-stroked-button color="primary" type="submit">Send</button>
</form>
