<div class="feedback">
  <h1>{{name}}'s feedback</h1>
  <div class="flex">
    <div [formGroup]='feedbackForm'>
      <ng-container *ngIf="checkStatus === 'Interviewer' && status === 5" >
        <mat-form-field>
          <mat-label>Hard skill</mat-label>
          <mat-select [formControl]="feedbackMark">
            <mat-option *ngFor="let hardSkill of Skills" [value]="hardSkill">{{hardSkill}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="checkStatus === 'Recruiter'">
        <mat-form-field>
          <mat-label>Soft skill</mat-label>
          <mat-select [formControl]="feedbackMark">
            <mat-option *ngFor="let softSkill of Skills" [value]="softSkill">{{softSkill}}</mat-option>
          </mat-select>
        </mat-form-field>

      </ng-container>
      <ng-container *ngIf="checkStatus==='Mentor' || (checkStatus === 'Interviewer' && status === 10)">
        <mat-form-field>
          <mat-label>Mark</mat-label>
          <mat-select [formControl]="feedbackMark">
            <mat-option *ngFor="let mark of Marks" [value]="mark">{{mark}}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="textarea">
      <label for="feedback">Feedback</label>
      <textarea name="feedback" id="feedback" cols="50" rows="5" placeholder="Your feedback" [formControl]='comment'></textarea>
    </div>
  </div>
  <div class="btn">
    <button (click)="saveFeedback()">Save</button>
    <button (click)="back()">Back to candidate's page</button>
  </div>
</div>
