/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// Import global styles
@import 'styles/global-styles/view-tables.scss';

html {
  font-size: 10px !important;
  font-family: 'Poppins', sans-serif;
  
}

.mat-typography {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

@media only screen and (min-width: 768px) {
}

.ngx-toastr {
  @media only screen and (min-width: 768px) {
    width: 500px !important; //  Specify toastr-dialog width on desktops
  }
}
