* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  padding-left: 20px;
  padding-top: 5px;
}
.bold-text{
  font-weight: 500;
}
h3.bold-text{
  text-align: center;
}
.apply-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  padding: 5px;
  .edu-programs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descr-form{
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    .descr{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .decr-card{
        padding: 20px 180px;
        .requiremnets{
          padding: 20px;
        }
      }
    }
    .form{
      margin-top: 5px;
      padding: 25px;
      width: 100%;
      display: flex;
      .left-form{
        width: 50%;
        padding: 0 40px 0 40px;
        display: flex;
        flex-direction: column;
      }
      .right-form{
        width: 50%;
        padding: 0 40px 0 40px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
