<div class="container">
  <form [formGroup]="registrationForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <div class="edu-programs" id="_">
      <h4>Actual Educational programs</h4>
      <mat-form-field appearance="fill">
        <mat-label>Educational Programs</mat-label>
        <mat-select formControlName="educationProgramId" (selectionChange)="showPostion(registrationForm.value.educationProgramId)">
          <mat-option *ngFor="let program of programs" [value]="program.id">{{program.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <h4>Your position/technology</h4>
      <mat-form-field appearance="fill">
        <mat-label>Select technology</mat-label>
        <mat-select formControlName="positionId" (selectionChange)="getDescription(registrationForm.value.positionId)">
          <mat-option *ngFor="let position of positions" [value]="position.id">{{position.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="registrationForm.value.positionId" class="descr-form">
      <div class="descr">
        <mat-card class="decr-card">
          <h3 class="bold-text">Description</h3>
          <p>{{description}}</p>
        </mat-card>
      </div>
      <div *ngIf="registrationForm.value.positionId" class="form">
        <div class="left-form">
          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input type="text" formControlName="firstname" matInput />
            <mat-error *ngIf="registrationForm.controls['firstname'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input formControlName="lastname" type="text" matInput />
            <mat-error *ngIf="registrationForm.controls['lastname'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Skype</mat-label>
            <input formControlName="contactSkype" type="text" matInput />
            <mat-error *ngIf="registrationForm.controls['contactSkype'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" matInput placeholder="email@example.com" />
            <mat-error *ngIf="registrationForm.controls['email'].invalid">{{getEmailError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input formControlName="contactPhone" type="tel" matInput />
            <mat-error *ngIf="registrationForm.controls['contactPhone'].invalid">{{getPhoneError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option required *ngFor="let country of countries" [value]="country"> {{country}} </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.controls['country'].invalid">{{getCityError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input formControlName="city" type="text" matInput />
            <mat-error *ngIf="registrationForm.controls['city'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="right-form">
          <mat-form-field appearance="fill">
            <mat-label>English level</mat-label>
            <mat-select formControlName="englishLevel">
              <mat-option *ngFor="let level of levels" [value]="level"> {{level}} </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.controls['englishLevel'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>The best time to contact (Minsk, UTC+3)</mat-label>
            <mat-select formControlName="contactTime">
              <mat-option *ngFor="let time of contactTimes" [value]="time"> {{time}} </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.controls['contactTime'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Are you planning to join Exadel after the Training?</mat-label>
            <mat-select formControlName="planToJoinExadel">
              <mat-option *ngFor="let decision of decisions" [value]="decision"> {{decision}} </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.controls['planToJoinExadel'].invalid">{{getFormError()}}</mat-error>
          </mat-form-field>
          <section>
            <p>
              <mat-checkbox required formControlName="checkBox">
                I know that my personal data will be processed on the terms
                <br />
                of specified in the Privacy Policy</mat-checkbox
              >
              <mat-error *ngIf="submitted && registrationForm.controls['checkBox'].errors">{{getCheckBoxError()}}</mat-error>
            </p>
          </section>
          <br />
          <p>Your personal data will be used during the Event and will not be shared with third parties</p>
          <p>Please read our <a href="https://exadel.com/privacy-policy/" target="_blank">Privacy Policy</a></p>
        </div>
      </div>
      <div class="apply-btn">
        <button mat-stroked-button class="apply-bt" color="primary">Apply</button>
      </div>
    </div>
  </form>
</div>
