<div class="container">
  <div class="col">
    <div class="about-exadel">
      <h2>About Exadel</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Pellentesque sit amet porttitor eget dolor morbi. Odio ut enim blandit volutpat maecenas volutpat. Nam at lectus urna duis convallis
      convallis tellus. Tempor commodo ullamcorper a lacus vestibulum sed arcu.
    </div>
    <div class="about-sandbox">
      <h2>About Sandbox</h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl
      condimentum id venenatis a condimentum. Vulputate mi sit amet mauris commodo quis. Sit amet tellus cras adipiscing enim eu. At varius
      vel pharetra vel.
    </div>
  </div>
  <div class="col">
    <h2>Available programs</h2>
    <ul>
      <li>JavaScript</li>
      <li>.NET</li>
      <li>Business Analyst</li>
    </ul>
  </div>
  <div class="col">
    <h2>Registration form</h2>
    <app-candidate-form></app-candidate-form>
  </div>
</div>
