* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-flow: row;
  background-color: green;
}
.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: lightgray;
}

.col1 {
  background-color: red;
}
