.educational-programs {
  display: flex;
  flex-direction: column;
  margin: 50px;

  &__create {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__table {
    margin-top: 50px;
  }
}

table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  text-align: center;
  border: 0px solid #ccc;
}

td.mat-cell {
  border-bottom: 1px solid #ccc;
}
