.educational-programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;

  &__acceptance-period {
    display: flex;
    flex-direction: column;
  }

  &__programs-period {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number-of-positions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__position {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-form-field {
    width: 300px;
  }

  &__position-description {
    mat-form-field {
      width: 500px;
    }
  }
}
